<fieldset>
  <legend>Cadastro de Fotos</legend>
    <form> 
      <div class="form-group">
        <label for="idTitulo">Informe o Titulo</label>
        <input id="idTitulo" type="text" class="form-control" placeholder="Titulo">
      </div>
      <div class="form-group">
        <label for="idTituloAlt">Informe o Titulo Alternativo</label>
        <input id="idTituloAlt" type="text" class="form-control" placeholder="Titulo Alternativo">
      </div>
      <div class="form-group">
        <label for="idDescricao">Informe a Descrição</label>
        <input id="idDescricao" type="text" class="form-control" placeholder="Descrição">
      </div>
      <div class="form-group">
        <label for="idUrl">Informe a URL</label>
        <input id="idUrl" type="url" class="form-control" placeholder="Titulo Alternativo">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark">Registrar</button>
      </div>

    </form>
</fieldset>